 <section id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="div-form" style="/*padding: 0px 50px 0px 50px;*/padding-bottom: 0px;">
                        <div class="header-tabeldiv">
                            <div class="row">
                                <div class="col-9">
                                    <h2 class="text-capitalize fw-bold m-0 heading-judul">Hak Akses</h2>
                                </div>
                                <div class="col text-end">
                                    <ul class="d-lg-flex justify-content-lg-end breadcrumb m-0">
                                        <li class="breadcrumb-item ng-star-inserted"><a href="/index.html">Admin</a></li>
                                        <li class="breadcrumb-item active ng-star-inserted">Hak Akses</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card dashboard">
                            <div class="card-body">
                                <div class="row mt-2">
                                    <div class="col-4">
                                        <div class="p-2" style="/*padding-bottom: 10px!important;*/">
                                            <form class="form-horizontal ng-untouched ng-pristine ng-invalid">
                                                <div class="form-group mb-3"><label class="form-label text-capitalize f-label" for="email">Nama hak akses</label><input class="form-control form-control-sm ng-pristine ng-invalid ng-touched" type="text" id="nama" name="nama" placeholder="Nama"></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-12" style="margin-top: 10px;margin-bottom: 10px;">
                                        <hr style="margin-right: 10px;margin-left: 10px;">
                                        <h5 class="text-capitalize text-start mb-3" style="margin-left: 10px;text-align: center;color: #009aad;">detail hak akses</h5>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-header d-xxl-flex align-items-xxl-center">
                                                        <div class="form-check hak-akses"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1" style="color: rgb(255,255,255);">Auth</label></div>
                                                    </div>
                                                    <div class="card-body">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label text-capitalize" for="formCheck-2">User</label></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-4"><label class="form-check-label text-capitalize" for="formCheck-4">Hak akses</label></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-header d-xxl-flex align-items-xxl-center">
                                                        <div class="form-check hak-akses"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7" style="color: rgb(255,255,255);">Setting</label></div>
                                                    </div>
                                                    <div class="card-body">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-8"><label class="form-check-label text-capitalize" for="formCheck-8">menu</label></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-9"><label class="form-check-label text-capitalize" for="formCheck-9">Customer</label></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-12"><label class="form-check-label text-capitalize" for="formCheck-12">promo</label></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-11"><label class="form-check-label text-capitalize" for="formCheck-11">diskon</label></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label text-capitalize" for="formCheck-10">Voucher</label></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <div class="card">
                                                    <div class="card-header d-xxl-flex align-items-xxl-center">
                                                        <div class="form-check hak-akses"><input class="form-check-input" type="checkbox" id="formCheck-3"><label class="form-check-label" for="formCheck-3" style="color: rgb(255,255,255);">Laporan</label></div>
                                                    </div>
                                                    <div class="card-body">
                                                        <ul class="list-group">
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-5"><label class="form-check-label text-capitalize" for="formCheck-5">Penjualan menu</label></div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label text-capitalize" for="formCheck-6">penjualan customer</label></div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end"><button class="btn btn-primary btn-simpan" type="button">Simpan</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>