 <section id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="div-form" style="/*padding: 0px 50px 0px 50px;*/padding-bottom: 0px;">
                        <div class="row">
                            <div class="col">
                                <div class="d-lg-flex header-tabeldiv">
                                    <div class="row" style="width: 100%;">
                                        <div class="col-9">
                                            <h2 class="text-capitalize fw-bold m-0 heading-judul">setting promo</h2>
                                        </div>
                                        <div class="col text-end">
                                            <ul class="d-lg-flex justify-content-lg-end breadcrumb m-0">
                                                <li class="breadcrumb-item ng-star-inserted"><a href="/index.html">Setting</a></li>
                                                <li class="breadcrumb-item active ng-star-inserted">Promo</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card dashboard">
                            <div class="card-body">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <div class="p-2" style="/*padding-bottom: 10px!important;*/">
                                            <form class="form-horizontal ng-untouched ng-pristine ng-invalid">
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Nama</label><input class="form-control ng-pristine ng-invalid ng-touched" type="text" id="nama" name="nama" placeholder="Nama"></div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Type</label>
                                                    <div class="input-group">
                                                        <div class="input-group-text" style="padding: 0px;">
                                                            <div class="btn-group" role="group"><button class="btn btn-primary filter active" type="button">Diskon</button><button class="btn btn-primary filter" type="button">Voucher</button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Diskon</label>
                                                    <div class="input-group"><input class="form-control" type="text" placeholder="10%"></div>
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Harga</label>
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-text -prepend"><span class="btn-show-pass" style="cursor: pointer;"><span>RP</span></span></div><input class="form-control" type="text" placeholder="20.000">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Kadaluarsa</label><select class="form-select form-control" style="max-width: 17%;">
                                                        <optgroup label="This is a group">
                                                            <option value="12" selected="">1 day</option>
                                                            <option value="13">This is item 2</option>
                                                            <option value="14">This is item 3</option>
                                                        </optgroup>
                                                    </select></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-6" style="border-bottom-color: #2e2e2e;">
                                        <div class="container">
                                            <div class="column"></div>
                                            <div class="mt-4" style="background: #dcdcdc;height: 315px;border-radius: .8rem;cursor: pointer;">
                                                <h1 class="heading-styling"><i class="fa fa-image img-promo"></i><br>Upload Image</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                        <div class="syarat">
                                            <h3 class="text-center heading-terms mb-3">Terms &amp; Conditions<br></h3>
                                         <ckeditor [editor]="Editor" [config]="config" data="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fuga cum corporis! Magni sapiente voluptatem tempore dolore optio voluptatibus voluptate praesentium dolorem nobis nihil error quam nemo explicabo ex ad voluptatum, ratione repellat deserunt culpa quidem expedita. Architecto dolore dolorem corporis quasi nobis beatae eveniet enim, repellat blanditiis perferendis laborum tempore, tempora omnis tenetur eaque veritatis vel debitis vero provident illo. At nesciunt voluptate eaque quisquam blanditiis eius corrupti. Vel provident nulla incidunt beatae minus perspiciatis odit, placeat ad, atque aperiam nemo laborum rerum, laudantium commodi facere eveniet sed. Distinctio adipisci quae eveniet repudiandae praesentium asperiores ipsa reprehenderit assumenda. Beatae."></ckeditor>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end"><button class="btn btn-primary btn-simpan" type="button">Simpan</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>