 <section id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="div-form" style="/*padding: 0px 50px 0px 50px;*/padding-bottom: 0px;">
                        <div class="row">
                            <div class="col">
                                <div class="d-lg-flex header-tabeldiv">
                                    <div class="row" style="width: 100%;">
                                        <div class="col-9">
                                            <h2 class="text-capitalize fw-bold m-0 heading-judul">setting promo</h2>
                                        </div>
                                        <div class="col text-end">
                                            <ul class="d-lg-flex justify-content-lg-end breadcrumb m-0">
                                                <li class="breadcrumb-item ng-star-inserted"><a href="/index.html">Setting</a></li>
                                                <li class="breadcrumb-item active ng-star-inserted">Promo</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form *ngIf="isAdd == true" [formGroup]="promoForm" class="form-horizontal ng-untouched ng-pristine ng-invalid">
                        <div class="card dashboard mb-4">
                            <div class="card-header">
                            <div class="d-flex justify-content-between">
                               <h3 class="text-capitalize fw-bold heading-judul text-white">{{isEdit == true ? 'Edit Promo' : 'Tambah Promo'}}</h3>
                                <div>
                                    <button class="btn btn-light" *ngIf="isEdit == true" (click)="onResetForm()" type="submit"><i class="fa fa-plus"></i> Tambah Promo</button>
                                    <span class="text-primary"> - </span>
                                    <button type="button" class="btn btn-danger" (click)="onClose()">X</button>
                                </div>
                            </div>
                            </div>
                            <div class="card-body">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <div class="p-2" style="/*padding-bottom: 10px!important;*/">
                                                <div class="form-group mb-3">
                                                    <label class="form-label f-label" for="email">Nama</label>
                                                    <input class="form-control ng-pristine ng-invalid ng-touched" type="text" formControlName="nama" placeholder="Nama">
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Type</label>
                                                    <div class="input-group">
                                                        <div class="input-group-text" style="padding: 0px;">
                                                             <div class="btn-group" role="group">
                                                                    <input type="radio" class="btn-check" name="type" value="diskon" id="diskon" autocomplete="off"
                                                                    formControlName="type" (change)="selected($event)" checked>
                                                                    <label class="btn btn-primary filter" for="diskon">diskon</label>

                                                                    <input type="radio" class="btn-check" name="type" value="promo" id="promo"
                                                                    autocomplete="off" formControlName="type" (change)="selected($event)">
                                                                    <label class="btn btn-primary filter" for="promo">promo</label>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3" *ngIf="isDiskon == true">
                                                    <label class="form-label f-label" for="email">Diskon</label>
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-text -prepend">
                                                            <span class="btn-show-pass" style="cursor: pointer;"><span>%</span>
                                                        </span>
                                                    </div>
                                                    <input formControlName="nominal" class="form-control" type="text" placeholder="10%">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3" *ngIf="isDiskon == false">
                                                    <label class="form-label f-label" for="email">Potongan Harga</label>
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-text -prepend">
                                                            <span class="btn-show-pass" style="cursor: pointer;"><span>RP</span>
                                                        </span>
                                                    </div>
                                                    <input formControlName="nominal" class="form-control" type="text" placeholder="20.000">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Kadaluarsa</label>
                                                    <select class="form-select form-control" formControlName="kadaluarsa" style="max-width: 17%;">
                                                            <option value="1" selected>1 day</option>
                                                            <option value="2">2 day</option>
                                                            <option value="3">3 day</option>
                                                            <option value="4">4 day</option>
                                                            <option value="5">5 day</option>
                                                            <option value="6">6 day</option>
                                                            <option value="7">7 day</option>
                                                            <option value="8">8 day</option>
                                                            <option value="9">9 day</option>
                                                    </select>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-6" style="border-bottom-color: #2e2e2e;">
                                        <div class="container">
                                            <div class="column"></div>
                                            <div class="mt-4" style="background: #dcdcdc;height: 315px;border-radius: .8rem;cursor: pointer;">
                                                <h1 class="heading-styling"><i class="fa fa-image img-promo"></i><br>Upload Image</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                        <div class="syarat">
                                            <h3 class="text-center heading-terms mb-3">Terms &amp; Conditions<br></h3>
                                         <ckeditor [editor]="Editor" [config]="config" data="" formControlName="syarat_ketentuan" value="" >tes123</ckeditor>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <button class="btn btn-primary btn-simpan" *ngIf="isEdit == false" (click)="onSubmit()" type="submit">Simpan</button>
                                <button class="btn btn-primary btn-simpan" *ngIf="isEdit == true" (click)="onUpdate()" type="submit">Update</button>
                            </div>
                        </div>
                    </form>

                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <h4 class="text-white">Daftar Promo</h4>
                                    <button type="button" class="btn btn-xs btn-light" (click)="onAddPromo()"><i class="fa fa-plus"></i> Tambah Promo</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama</th>
                                            <th>Type</th>
                                            <th>Nominal</th>
                                            <th>Kadaluarsa</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let data of promo; let i = index">
                                            <td>{{i+1}}</td>
                                            <td>{{data.nama}}</td>
                                            <td>
                                                <span class="badge bg-primary" *ngIf="data.type == 'diskon'">Diskon</span>
                                                <span class="badge bg-info" *ngIf="data.type == 'voucher'">Voucher</span>
                                            </td>
                                            <td>
                                                <span *ngIf="data.type == 'diskon'">{{data.nominal}}%</span>
                                                <span *ngIf="data.type == 'voucher'">Rp {{data.nominal}}</span>
                                            </td>
                                            <td>{{data.kadaluarsa}} Day</td>
                                            <td>
                                                <button type="button" class="btn btn-xs btn-warning mr-2" (click)="edit(data.id_promo)"> <i class="fas fa-edit"></i></button> 
                                                <span class="text-white"> - </span>
                                                <button type="button" class="btn btn-xs btn-danger mr-2"><i class="fas fa-trash"></i></button> 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>