 <section id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="div-form" style="/*padding: 0px 50px 0px 50px;*/padding-bottom: 0px;">
                        <div class="header-tabeldiv">
                            <div class="row">
                                <div class="col-9">
                                    <h2 class="text-capitalize fw-bold m-0 heading-judul">Setting menu</h2>
                                </div>
                                <div class="col text-end">
                                    <ul class="d-lg-flex justify-content-lg-end breadcrumb m-0">
                                        <li class="breadcrumb-item ng-star-inserted"><a href="/index.html">Setting</a></li>
                                        <li class="breadcrumb-item active ng-star-inserted">Menu</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form *ngIf="isAdd == true" [formGroup]="menuForm" class="form-horizontal ng-untouched ng-pristine ng-invalid">
                        <div class="card dashboard mb-4">
                            <div class="card-header">
                                <div class="d-flex justify-content-between">
                                    <h3 class="text-capitalize fw-bold heading-judul text-white">{{isEdit == true ? 'Edit Menu' : 'Tambah Menu'}}</h3>
                                    <div>
                                        <button class="btn btn-light" *ngIf="isEdit == true" (click)="onResetForm()" type="submit"><i class="fa fa-plus"></i> Tambah Menu</button>
                                        <span class="text-primary"> - </span>
                                        <button type="button" class="btn btn-danger" (click)="onClose()">X</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <div class="p-2" style="/*padding-bottom: 10px!important;*/">
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Nama</label>
                                                    <input class="form-control ng-pristine ng-invalid ng-touched" type="text" formControlName="nama" placeholder="Nama">
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Kategori</label>
                                                    <div class="input-group">
                                                        <div class="input-group-text" style="padding: 0px;">
                                                             <div class="input-group">
                                                                <div class="btn-group" role="group">
                                                                    <input type="radio" class="btn-check" name="kategori" value="1" id="food" autocomplete="off"
                                                                    formControlName="kategori" (change)="selected($event)" checked>
                                                                    <label class="btn btn-primary filter" for="food">Food</label>

                                                                    <input type="radio" class="btn-check" name="kategori" value="2" id="drink"
                                                                    autocomplete="off" formControlName="kategori" (change)="selected($event)">
                                                                    <label class="btn btn-primary filter" for="drink">Drink</label>

                                                                    <input type="radio" class="btn-check" name="kategori" value="3" id="snack"
                                                                    autocomplete="off" formControlName="kategori" (change)="selected($event)">
                                                                    <label class="btn btn-primary filter" for="snack">Snack</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Harga</label>
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-text -prepend"><span class="btn-show-pass" style="cursor: pointer;"><span>RP</span></span></div>
                                                        <input class="form-control" type="number" placeholder="Ex: 20000" formControlName="harga">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label text-capitalize f-label" for="email">Deskripsi singkat</label>
                                                    <div class="input-group">
                                                        <textarea class="form-control" formControlName="deskripsi" style="min-height: 72px;"></textarea>
                                                    </div>
                                                </div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-6" style="border-bottom-color: #2e2e2e;">
                                        <div class="container">
                                            <div class="mt-4" style="background: #dcdcdc;height: 227px;border-radius: .8rem;cursor: pointer;">
                                                <h1 class="heading-styling"><i class="fa fa-image" style="margin-top: 65px;"></i><br>Upload Image</h1>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="d-flex justify-content-between">
                                                <div class="form-group mb-3" style="margin-top: 2.4rem;">
                                                    <label class="form-label f-label" for="email">Status</label>
                                                    <div class="input-group">
                                                        <input type="radio" class="btn-check" name="status" value="1" id="ada" autocomplete="off" formControlName="status" (change)="selected($event)" selected>
                                                        <label class="btn btn-primary filter" for="ada">Ada</label>
    
                                                        <input type="radio" class="btn-check" name="status" value="0" id="habis" autocomplete="off" formControlName="status" (change)="selected($event)">
                                                        <label class="btn btn-primary filter" for="habis">Habis</label>
                                                    </div>
                                                </div>
                                                 <div class="form-group mb-3" style="margin-top: 2.4rem;">
                                                    <label class="form-label f-label" for="email">Topping</label>
                                                    <div class="input-group">
                                                        <button type="button" class="btn btn-primary">Add</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table *ngIf="isEdit == true" class="table table-striped table-hover table-borderless">
                                                <thead style="border-width: 1px;border-color: #dee2e6;background: #f5f5f5;">
                                                    <tr>
                                                        <!-- <th style="width: 5%;text-align: center;/*border-right-style: solid;*/"><i class="fa fa-plus-square i-menu"></i></th> -->
                                                        <th>No</th>
                                                        <th>Keterangan</th>
                                                        <th>Type</th>
                                                        <th>Harga</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data of listTopping; let i = index">
                                                        <!-- <th class="d-xxl-flex justify-content-xxl-center" style="text-align: center;">
                                                            <i class="fa fa-minus-square i-menu"></i>
                                                        </th> -->
                                                        <td>{{i+1}}</td>
                                                        <td class="text-start">
                                                            <input class="bg-white border-light shadow-sm form-control" type="text" placeholder="Nama Topping / Level" style="width: 100%;" value="{{data.keterangan}}">
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="type-menu">
                                                                <option value="topping" [selected]="data.type === 'topping'">Topping</option>
                                                                <option value="level" [selected]="data.type === 'level'">Level</option>
                                                            </select></td>
                                                        <td>
                                                            <input class="bg-white border-light shadow-sm form-control" type="text" placeholder="Ex: 4000" style="width: 100%;" value="{{data.harga}}">
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <!-- <th class="d-xxl-flex justify-content-xxl-center" style="text-align: center;">
                                                            <i class="fa fa-minus-square i-menu"></i>
                                                        </th> -->
                                                        <td></td>
                                                        <td class="text-start">
                                                            <input class="bg-white border-light shadow-sm form-control" type="text" placeholder="Keterangan Topping / Level" style="width: 100%;" value="">
                                                        </td>
                                                        <td class="text-center">
                                                            <select class="type-menu">
                                                                <option value="topping">Topping</option>
                                                                <option value="level">Level</option>
                                                            </select></td>
                                                        <td>
                                                            <input class="bg-white border-light shadow-sm form-control" type="text" placeholder="Ex: 4000" style="width: 100%;" value="">
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-xs btn-primary"><i class="fa fa-save"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-6 align-self-center">
                                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                    </div>
                                    <div class="col-md-6">
                                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination">
                                                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div> -->
                            </div>
                            <div class="card-footer text-end">
                                <button class="btn btn-primary btn-simpan" *ngIf="isEdit == false" (click)="onSubmit()" type="submit">Simpan</button>
                                <button class="btn btn-primary btn-simpan" *ngIf="isEdit == true" (click)="onUpdate()" type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12">
                    <div class="card dashboard">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <h3 class="text-capitalize fw-bold m-0 heading-judul text-white">Daftar Menu</h3>
                                <button class="btn btn-light" *ngIf="isAdd == false" (click)="onAddMenu()" type="button"><i class="fa fa-plus"></i> Tambah Menu</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Nama</th>
                                        <th>Kategori</th>
                                        <th>Harga</th>
                                        <th>Status</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of listMenu; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{data.nama}}</td>
                                        <td>
                                            <span class="badge bg-primary" *ngIf="data.kategori == 1">Food</span>
                                             <span class="badge bg-primary" *ngIf="data.kategori == 2">Drink</span>
                                              <span class="badge bg-primary" *ngIf="data.kategori == 3">Snack</span>
                                        </td>
                                        <td>Rp {{data.harga}}</td>
                                        <td>
                                             <span class="badge bg-success" *ngIf="data.status == 1">Ada</span>
                                            <span class="badge bg-secondary" *ngIf="data.status == 0">Habis</span>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-warning mr-2" (click)="edit(data.id_menu)"> <i class="fas fa-edit"></i></button> 
                                            <span class="text-white"> - </span>
                                            <button type="button" class="btn btn-xs btn-danger mr-2"><i class="fas fa-trash"></i></button> 
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>