 <section id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <div class="div-form" style="/*padding: 0px 50px 0px 50px;*/padding-bottom: 0px;">
                        <div class="header-tabeldiv">
                            <div class="row">
                                <div class="col-9">
                                    <h2 class="text-capitalize fw-bold m-0 heading-judul">Setting menu</h2>
                                </div>
                                <div class="col text-end">
                                    <ul class="d-lg-flex justify-content-lg-end breadcrumb m-0">
                                        <li class="breadcrumb-item ng-star-inserted"><a href="/index.html">Setting</a></li>
                                        <li class="breadcrumb-item active ng-star-inserted">Menu</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card dashboard">
                            <div class="card-body">
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <div class="p-2" style="/*padding-bottom: 10px!important;*/">
                                            <form class="form-horizontal ng-untouched ng-pristine ng-invalid">
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Nama</label><input class="form-control ng-pristine ng-invalid ng-touched" type="text" id="nama" name="nama" placeholder="Nama"></div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Kategori</label>
                                                    <div class="input-group">
                                                        <div class="input-group-text" style="padding: 0px;">
                                                            <div class="btn-group" role="group"><button class="btn btn-primary filter active" type="button">Food</button><button class="btn btn-primary filter" type="button">Drink</button><button class="btn btn-primary filter" type="button">Snack</button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label f-label" for="email">Harga</label>
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-text -prepend"><span class="btn-show-pass" style="cursor: pointer;"><span>RP</span></span></div><input class="form-control" type="text" placeholder="20.000">
                                                    </div>
                                                </div>
                                                <div class="form-group mb-3"><label class="form-label text-capitalize f-label" for="email">Deskripsi singkat</label>
                                                    <div class="input-group"><textarea class="form-control" style="min-height: 72px;"></textarea></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-6" style="border-bottom-color: #2e2e2e;">
                                        <div class="container">
                                            <div class="mt-4" style="background: #dcdcdc;height: 227px;border-radius: .8rem;cursor: pointer;">
                                                <h1 class="heading-styling"><i class="fa fa-image" style="margin-top: 65px;"></i><br>Upload Image</h1>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="form-group mb-3" style="margin-top: 2.4rem;"><label class="form-label f-label" for="email">Status</label>
                                                <div class="input-group">
                                                    <div class="input-group-text" style="padding: 0px;">
                                                        <div class="btn-group" role="group"><button class="btn btn-primary text-capitalize filter2 active" type="button">ada</button><button class="btn btn-primary text-capitalize filter2" type="button">habis</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover table-borderless">
                                                <thead style="border-width: 1px;border-color: #dee2e6;background: #f5f5f5;">
                                                    <tr>
                                                        <th style="width: 5%;text-align: center;/*border-right-style: solid;*/"><i class="fa fa-plus-square i-menu"></i></th>
                                                        <th style="width: 30%;border-width: 0px;border-right-style: solid;">Keterangan</th>
                                                        <th class="text-center" style="width: 40%;border-width: 0px;border-right-style: solid;">Type</th>
                                                        <th class="text-end" style="/*border-right-style: solid;*/">Harga</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th class="d-xxl-flex justify-content-xxl-center" style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></th>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Keju" placeholder="Keju" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Topping</option>
                                                                    <option value="13">This is item 2</option>
                                                                    <option value="14">This is item 3</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex d-xxl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center justify-content-xxl-end align-items-xxl-center">2000</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></td>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Bakso" placeholder="Bakso" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu" style="width: 100%;">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Topping</option>
                                                                    <option value="13">lorem</option>
                                                                    <option value="14">lorem</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">3000</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></td>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Level 1" placeholder="Level 1" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu" style="width: 100%;">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Level</option>
                                                                    <option value="13">Lorem</option>
                                                                    <option value="14">lorem</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">1000</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></th>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Keju" placeholder="Keju" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Topping</option>
                                                                    <option value="13">This is item 2</option>
                                                                    <option value="14">This is item 3</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">2000</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></td>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Bakso" placeholder="Bakso" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu" style="width: 100%;">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Topping</option>
                                                                    <option value="13">lorem</option>
                                                                    <option value="14">lorem</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">3000</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></td>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Level 1" placeholder="Level 1" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu" style="width: 100%;">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Level</option>
                                                                    <option value="13">Lorem</option>
                                                                    <option value="14">lorem</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">1000</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></th>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Keju" placeholder="Keju" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Topping</option>
                                                                    <option value="13">This is item 2</option>
                                                                    <option value="14">This is item 3</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">2000</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></td>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Bakso" placeholder="Bakso" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu" style="width: 100%;">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Topping</option>
                                                                    <option value="13">lorem</option>
                                                                    <option value="14">lorem</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">3000</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></td>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Level 1" placeholder="Level 1" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu" style="width: 100%;">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Level</option>
                                                                    <option value="13">Lorem</option>
                                                                    <option value="14">lorem</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">1000</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></th>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Keju" placeholder="Keju" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Topping</option>
                                                                    <option value="13">This is item 2</option>
                                                                    <option value="14">This is item 3</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">2000</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></td>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Bakso" placeholder="Bakso" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu" style="width: 100%;">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Topping</option>
                                                                    <option value="13">lorem</option>
                                                                    <option value="14">lorem</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">3000</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center;"><i class="fa fa-minus-square i-menu"></i></td>
                                                        <td class="text-start"><input class="bg-white border-light shadow-sm form-control" type="text" name="Level 1" placeholder="Level 1" style="width: 100%;"></td>
                                                        <td class="text-center"><select class="type-menu" style="width: 100%;">
                                                                <optgroup label="This is a group">
                                                                    <option value="12" selected="">Level</option>
                                                                    <option value="13">Lorem</option>
                                                                    <option value="14">lorem</option>
                                                                </optgroup>
                                                            </select></td>
                                                        <td class="text-end d-lg-flex d-xl-flex justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center">1000</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 align-self-center">
                                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                    </div>
                                    <div class="col-md-6">
                                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination">
                                                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-end"><button class="btn btn-primary btn-simpan" type="button">Simpan</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>