 <section class="login">
   <div class="container">
     <div class="row">
       <div class="col-5 m-auto">
         <div class="card login-card">
           <div class="card-body">
             <div class="text-center div-heading mb-3"
               style="background: url(&quot;/assets/img/bg_login_javacode.png?h=0ef2b36e7dd8cde2e0d82f7ccac8528b&quot;) center / cover no-repeat;color: rgba(9, 162, 255, 0.85);">
               <img class="img-fluid" [src]="'/assets/img/Java%20Code.png?h=f93ec67c971d2e66de7e1f1f348d4fae'"
                 width="50%">
             </div>
             <div class="p-2">
               <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-horizontal ng-untouched ng-pristine ng-invalid">
                 <div class="form-group mb-3"><label class="form-label f-label" for="email">Email</label>
                   <input class="form-control ng-untouched ng-pristine ng-invalid" type="email" id="email-2"
                     placeholder="Email" formControlName="email" style="padding-top: 1rem;padding-bottom: 1.3rem;">
                 </div>
                 <div class="form-group mb-3"><label class="form-label f-label" for="email">Password</label>
                   <div class="input-group input-group-sm">
                     <input class="form-control form-control-lg" placeholder="********" [type]="showPassword ? 'password' : 'text'" formControlName="password">
                     <div class="input-group-text -prepend"><span id="icon-password" class="btn-show-pass"
                         style="cursor: pointer;"  (click)="togglePassword()"><i class="fas fa-eye-slash" id="password" data-id="password"></i></span></div>
                   </div>
                 </div>
                 <div class="mt-4 text-center d-grid gap-2"><button type="submit" class="btn btn-primary btn-block">Login</button></div>
                 <div class="mt-2">
                   <div class="row">
                     <div class="col">
                       <hr>
                     </div>
                     <div class="col" style="text-align: center;">
                       <h5 class="text-lowercase" style="color: #2e2e2e;">Atau</h5>
                     </div>
                     <div class="col">
                       <hr>
                     </div>
                   </div>
                 </div>
                 <div class="mt-2 text-center"><a class="btn btn-primary btn-block" role="button"
                     style="width: 100%;background: white;border-radius: 25px;color: #009aad;border-color: #009aad;" ><i
                       class="fab fa-google mx-2"></i>Masuk menggunakan <strong>Google</strong></a></div>
                 <div class="mt-3 mb-4 text-center"><a class="btn btn-primary btn-block" role="button"
                     style="width: 100%;background: #2e2e2e;border-radius: 25px;color: #ffffff;border-color: #2e2e2e;"><i
                       class="fab fa-apple mx-2"></i>Masuk menggunakan <strong>AppleID</strong></a></div>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
